*.pyc
log/
Playground*.py
playground*.py
URConnect/RobotServer/obj/
URConnect/TestGui/obj/Debug/
URConnect/RobotServer/bin/Debug/RobotServer.pdb
*.suo
*.pdb
URConnect/UniversalRobotsConnect/obj/Debug/
